.Card {
    width: 616px;
    height: 842px;
    border: 1px solid #dbdbdb;
  }
  .Card__userLogo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin: 15px 15px 0px 20px;
  }
  .Card__header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    box-sizing: border-box;
  }
  .Card__userDate {
    margin-right: auto;
  }
  .Card__userName {
    font-weight: 700;
    font-size: small;
    margin-top: 11px;
  }
  .Card__burger {
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
    margin-left: 400px;
    margin-top: 15px;
  }
  .Card__content {
    width: 100%;
    height: 614px;
    background-color: brown;
  }
  .Card__communication {
    width: 100%;
    height: 40 px;
  }
  
  
  .activeButton {
    color: red;
  }