.Card {
    width: 1000px;
    height: 335px;
    border: 1px solid #dbdbdb;
  }
  .Card__userLogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    margin: 15px 15px 0px 10px;
  }
  .Card__border {
    border: 2px solid #dbdbdb;
  }
  .Card__header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    box-sizing: border-box;
  }
  .Card__userDate {
    margin-right: auto;
  }
  .Card__userName {
    font-weight: 700;
    font-size: xxx-large;
    margin-left: 230px;
    margin-top: -190px;
  }
  .Card__burger {
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
    margin-left: 560px;
    margin-top: -30px;
  }
  .Card__content {
    width: 100%;
    height: 614px;
    background-color: brown;
  }
  .Card__communication {
    margin-top: 20px;
    font-size: x-large;
    width: 100%;
    height: 40 px;
    margin-top: -5px;
    margin-left: 230px;
    margin-bottom: 55px;
  }
  .Card__status{
    margin-top: 20px;
    font-size: small;
    width: 100%;
    height: 40 px;
    margin-top: -5px;
    margin-left: 230px;
    margin-bottom: 55px;
  }
  .Card__userPosition{
    font-weight: 300;
    font-size: xx-large;
    margin-top: -5px;
    margin-left: 230px;
  }
  
  .activeButton {
    color: red;
  }
  .Сomment__add{
    width: 520px;
    height: 80px;
    margin-left: 30px;
    margin-top: -15px;
  }
  .Subscribe__btn{
    width: 150px;
    height: 75px;
    margin-top: -150px;
    margin-left: 495px;
    color:rgb(73, 75, 71);
    background-color: rgba(252, 252, 252, 0.963);
    font-size: large;
  }
  