.Header {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
  }
  .Header__logo {
    font-size: 20px;
    font-weight: 700;
  }
  .Header__wrapper {
    display: flex;
  }
  .Header__search {
    border: 1px solid #8e8e8e;
  }
  .Header__item {
    cursor: pointer;
    margin: 7px 5px 0px 0px;
  }
  .Header__item:hover {
    opacity: 0.7;
  }
  .Header__item:not(:last-child) {
    margin-right: 20px;
  }
  .Header__item:last-child {
    background: black;
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }
  .Header__userLogo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin: 5px 5px 0px 10px;
  }
  .Header__userName {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 5px 0px 10px;
  }
  .Header__dropDown{
    background-color: whitesmoke;
    color: black;
  }